---
- import_tasks: arch_pkg.yml
  when: distro == "arch" or distro == "archarm"

- import_tasks: debian_pkg.yml
  when: distro == "debian"

- name: Check that the nginx config exists
  ansible.builtin.stat:
    path: /etc/nginx/sites-enabled/{{ domain }}
    get_checksum: false
    get_mime: false
  register: reg_nginx_cfg_exists
  become: true

- import_tasks: nginx_cfg.yml
  when: "reinstall or not reg_nginx_cfg_exists.stat.exists"

- name: Add group www-data for main user
  ansible.builtin.user:
    name: "{{ main_user }}"
    append: true
    groups: www-data
  when: "add_www_data_group"
  become: true
