---
- name: Create config for domain
  ansible.builtin.template:
    src: config
    dest: "/etc/nginx/sites-available/{{ domain }}"
    group: root
    owner: root
    mode: "0644"
  become: true

- name: Enable config for domain
  link:
    src: "/etc/nginx/sites-available/{{ domain }}"
    dst: "/etc/nginx/sites-enabled/{{ domain }}"
  become: true

- name: Generate ssl certificates
  ansible.builtin.command: "certbot --nginx --nginx-ctl /usr/sbin/nginx -d {{ domain }} -m {{ notification_email }} --agree-tos -n"
  register: my_output
  changed_when: my_output.rc != 0
  become: true
