---
- name: Install vscale

  hosts: vscale

  vars:
    dokuwiki_version: 2018-04-22a
    file_root: ../../files/vscale

  tasks:
    - name: Add an key ydcmd repository
      apt_key:
        url: https://download.opensuse.org/repositories/home:antonbatenev:ydcmd/Debian_9.0/Release.key
        state: present

    - name: Add ydcmd repository
      apt_repository:
        repo: deb http://download.opensuse.org/repositories/home:/antonbatenev:/ydcmd/Debian_9.0/ /
        state: present
        filename: 'ydcmd'

    - name: Update repositories cache
      ansible.builtin.apt:
        update_cache: true
      changed_when: false

    - name: Install packages
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
      with_items:
        - htop
        - lego
        - ydcmd
        - nginx
        - rsnapshot
        - php7.0-gd
        - php7.0-fpm
        - php7.0-xml
        - php7.0-sqlite3

    - name: Copy nginx config
      ansible.builtin.copy:
        src: "{{file_root}}/etc/nginx/sites-enabled/default"
        dest: /etc/nginx/sites-enabled/default
        group: root
        owner: root
        mode: "0777"

    - name: Copy rsnapshot config
      ansible.builtin.copy:
        src: "{{file_root}}/etc/rsnapshot.conf"
        dest: /etc/rsnapshot.conf
        group: root
        owner: root
        mode: "0644"

    - name: Copy user scripts
      ansible.builtin.copy:
        src: "{{file_root}}/usr/bin/{{ item }}"
        dest: /usr/bin/{{ item }}
        group: root
        owner: root
        mode: "0755"
      with_items:
        - renew
        - backup
        - restore
        - restore_impl
        - restore_cloud
        - restore_last

    - name: Copy cron config
      ansible.builtin.copy:
        src: "{{file_root}}/etc/cron.d/rsnapshot"
        dest: /etc/cron.d/rsnapshot
        group: root
        owner: root
        mode: "0644"

# ansible-vault decrypt .ydcmd.cfg
# ansible-vault encrypt .ydcmd.cfg
# https://moonback.ru/page/vestacp-backup-to-yandex-disk#more-5320
    - name: Copy ydcmd config
      ansible.builtin.copy:
        src: "{{file_root}}/root/.ydcmd.cfg"
        dest: /root/.ydcmd.cfg
        decrypt: true
        group: root
        owner: root
        mode: "0400"

    - name: Remove dirs
      ansible.builtin.file: path={{ item }} state=absent
      with_items:
        - /tmp/dokuwiki-{{dokuwiki_version}}
        - /dokuwiki

    - name: Download dokuwiki
      unarchive:
        src: http://download.dokuwiki.org/src/dokuwiki/dokuwiki-{{dokuwiki_version}}.tgz
        remote_src: true
        dest: /tmp

    - name: Move dokuwiki
      ansible.builtin.command: mv /tmp/dokuwiki-{{dokuwiki_version}} /dokuwiki

    - name: Check ssl certificates dir
      ansible.builtin.stat:
        path: /etc/letsencrypt/certificates
        get_checksum: false
        get_mime: false
      register: ssl_dir

    - name: Stop nginx for generate ssl certificates
      ansible.builtin.service: name=nginx state=stopped
      when: ssl_dir.stat.isdir is not defined

    - name: Generate dhparam
      ansible.builtin.command: openssl dhparam -out /etc/ssl/certs/dhparam.pem 2048
      when: ssl_dir.stat.isdir is not defined

    # for testing: --server=https://acme-staging.api.letsencrypt.org/directory
    - name: Generate ssl certificates
      ansible.builtin.command: lego --email=reangd@yandex.ru --domains=wiki.fr.to --accept-tos --path=/etc/letsencrypt/ --webroot=/dokuwiki --http=:80 --tls=:443 run
      when: ssl_dir.stat.isdir is not defined

    - name: Restore dokuwiki rsnapshot backup
      ansible.builtin.command: /usr/bin/restore_cloud

    - name: Restore dokuwiki last backup
      ansible.builtin.command: /usr/bin/restore_impl daily.0
