[Unit]
Description=Home Assistant
After=network.target

[Service]
Type=simple
User=rean
ExecStart=/hass/venv/bin/hass --config "/hass/dotfiles-hass" --log-rotate-days 1

[Install]
WantedBy=multi-user.target
