apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: 38.0.2
    helm:
      values: |
        deployment:
          kind: DaemonSet
          rollingUpdate:
            maxUnavailable: 1
            maxSurge: 0
        hostNetwork: true
        service:
          enabled: false
        ports:
          web:
            port: 80
            hostPort: 80
            exposedPort: 80
            protocol: TCP
          websecure:
            port: 443
            hostPort: 443
            exposedPort: 443
            protocol: TCP
        ingressRoute:
          dashboard:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
