[Unit]
Description=Home Assistant
Requires=mosquitto.service
After=network.target mosquitto.service

[Service]
Type=simple
User=rean
ExecStart=/hass/venv/bin/hass --config "/hass/dotfiles-hass" --log-rotate-days 1
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
