setgid {{ proxy3_system_group_id }}
setuid {{ proxy3_system_user_id }}
{% for server in proxy3_dns -%}
nserver {{ server }}
{% endfor %}
nscache 65536
timeouts 1 5 30 60 180 1800 15 60
daemon
users $/etc/3proxy/auth
auth cache strong
log /var/log/3proxy/3proxy.log D
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"
rotate 10
dnspr
proxy -n -p{{ proxy3_http_port }} -a
socks -n -p{{ proxy3_socks_port }}
