---
- name: "Create volume dirs for {{ name }} chart"
  ansible.builtin.file:
    path: "{{ volumes_dir_root }}{{ it.path }}"
    state: directory
    group: root
    owner: "{{ main_user }}"
    mode: "0755"
  become: true
  when: volumes is defined and action == 'install'
  loop: "{{ volumes }}"
  loop_control:
    loop_var: it

- name: "Remove extra resources for chart {{ name }}"
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', '{{ extra_template }}') | from_yaml_all | list }}"
  when: extra_template is defined and action != 'install'

- name: "{{ text_action }} chart {{ name }}"
  vars:
    text_action: "{{ 'Install' if action == 'install' else 'Remove' }}"
    state: "{{ 'present' if action == 'install' else 'absent' }}"
    update_repo_cache: "{% if update_repo is defined %} {{ update_repo }} {% else %} False {% endif %}"
    var_wait_finish: "{% if wait_finish is defined %} {{ wait_finish }} {% else %} False {% endif %}"
  kubernetes.core.helm:
    name: "{{ name }}"
    chart_version: "{{ version }}"
    chart_ref: "{{ repo }}"
    release_namespace: "{{ namespace }}"
    release_state: "{{ state }}"
    update_repo_cache: "{{ update_repo_cache }}"
    wait: "{{ var_wait_finish }}"
    values: "{{ lookup('template', '{{ values_template }}') | from_yaml }}"
  when: values_template is defined

- name: "Create extra resources for chart {{ name }}"
  kubernetes.core.k8s:
    definition: "{{ lookup('template', '{{ extra_template }}') | from_yaml_all | list }}"
  when: extra_template is defined and action == 'install'

- name: "{{ text_action }} volumes for {{ name }} chart"
  vars:
    volume_name: "{{ it.name }}"
    volume_path: "{{ volumes_dir_root }}{{ it.path }}"
    volume_size: "{{ it.size }}"
    text_action: "{{ 'Install' if action == 'install' else 'Remove' }}"
    state: "{{ 'present' if action == 'install' else 'absent' }}"
  kubernetes.core.k8s:
    state: "{{ state }}"
    definition: "{{ lookup('template', 'local_volume.yml') | from_yaml_all | list }}"
  when: volumes is defined
  loop: "{{ volumes }}"
  loop_control:
    loop_var: it
